body{
    max-width: 1024px;
    font-family: serif;
    text-align: center;
}


ul{
    max-width:300px;
    margin-top: 10px;
    margin-bottom: 10px;	
    display:inline-block;
    text-align: left;
}

li{
    text-align: left;
}
